name: Pulsedesk CI Tests Workflow

on:
  push:
    branches:
      - main
      - feature/*
  pull_request:

jobs:
  test:
    name: Run tests for all services
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - backend
          - frontend
          - analytics-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

